@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    padding-top: 10%;
}

.section h2 {
    font-weight: bold;
    font-size: 1.8rem;
}

.section p {
    margin-top: 8px;
    font-size: 1rem;
}